
@media screen and (max-width: 1200px) ,screen and(max-height: 720px){
    #container{
       max-width: 970px;
    }
 }
 @media screen and (max-width: 970px) {
    #container{
       max-width: 750px;
    }
    
 }
    
 @media screen and (max-width: 767){
    #container{
       max-width:none ;
    }
    
 }


#table{

    width: 300px;
    height: 40px;
    background-color: #FFCF3E;
    border-radius: 30px;
    font-size:larger;
    font-weight:bold;
    text-align: center;
    
}

.btn-register{
   height: 50px;
   width: 100px;
   background-color: #649A3F;
   text-align: center;
   display: block;
}
.table-container{
   display: flex;
   align-items: center;
}
.table-child{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 200%;
}