
  #text{
    color:aliceblue;
  }
  .text{
    margin-top: 100px;
    margin-left: 700px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    font-size: 25px;
  }
  .main{
    flex-direction: row;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 500px;
  }
  .pizzaMain{
    flex-direction: column;
  }
  .pizzaGin{
    letter-spacing: 2px;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 100px;
  }
  .ingr{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .ingText{
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .whatIn{
    letter-spacing: 2px;
    font-size: 25px;
  }
  .count{
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 25px;
    margin-top: 30px;
  }
  .fut{
    margin-top: 70px;
    display: flex;
  }
  .btn-green{
    background-color: #006400; 
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    justify-content: flex-end;
    font-weight: 550;
    color: #000;
  }
/* fistMenuSetup css */
  #table{
    width: 300px;
    height: 40px;
    background-color: #FFCF3E;
    border-radius: 30px;
    font-size:larger;
    font-weight:bold;
    text-align: center;
    
}

.table-container{
   display: flex;
   align-items: center;
}

.table-child{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 200%;
}
/* fistMenuSetup css */

  
  
  


 