* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
 
  .container1{
    width: 100%;
    height: 100vh;
    background-image: url("../image/filter.jpg");
    background-size: 100% 100%;
    display: flex; 

  }
  .pizza{
      flex-direction: column;
  }
  .icon {
    justify-content: flex-end;
}
  .main{
      display: flex;
      flex-direction: row;
      gap: 70px;
      justify-content: space-between;

  }
  .filter1 {

      background-image: url(../image/color.jpg);
      color: aliceblue;
      width: 300px;
      height: 100vh;
      position: absolute;
      left: 0px;
      
      
    }
    .filter1 p{
        font-size: 30px;
        letter-spacing: 5px;
        margin-top: 30px;
    }
   
    h2{
        color: white;
        margin-bottom: 30px;
        margin-left: 20px;
        letter-spacing: 6px;
    }
    .olfil{

        list-style-type: inherit;
        margin-left: 30px;
        margin-top: 50px;
        line-height:150%;
        font-size: 20px;
        
    }

  .cards {
      display: flex;
      flex-direction: row;
     
      justify-content: space-around;
      margin-left: 270px;
      align-self: center; 
      gap: 90px;  
      margin-top: 100px;    

  }

  .card {
    width: 300px;
    height: 470px;
    background-color: rgba(247, 209, 154, 0.986);
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 0;       
    -webkit-clip-path: polygon(0 0, 0 100%, 100%, 100% 10%, 85% 0); 
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 85% 0);
   
  }
 
.sec1 {
    width: 260px;
    height: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 20px;
}
.sec2 {

    margin-top: 20px;
    margin-left: 80px;
    margin-bottom:30px;
    
    
}

.sec3 {
    margin-top: 20px;
    margin-left: 80px;
}


#ingtext{
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 200;
}

.imgpiz {
    width: 250px;
    height: 90%;    
    
}

.hrst {
    border:  black;
    width: 60%;
    margin-left: 65px;
    display: block;
    
  }
  .load{
      margin-top: 50px;
      color: aliceblue;

      margin-left: 700px;
      font-size: 20px;
  }
 .knopka{
     background-color: black;
     margin-top: 300px;
     width: 70px;
     height: 50px;
 }

 /* filtri css */
 #menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    margin-top: 640px;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.filterButton {
    border: 1px solid black;
    background-color: #000;
    color: #FFF;
    width: 150px;
    height: 35px;
    font-size: 30px;
    font-weight: 740;
}


/* .menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
} */


/* .menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
} */

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}


/*search div skizb*/

.filterWindowName {
    margin-top: -410px;
}

.parentInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
    padding: 5px;
    margin-left: 36px;
}

.searchIngredient {
    height: 25px;
    width: 80%;
}

.searchButton {
    background-color: tomato;
    height: 30px;
}

.fa-search {
    font-size: 20px;
}


/*search div verj*/

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}
 /* filtr verj */