* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* list-style: none;  */
  }
 
  .container{
    width: 100%;
    height: 100vh;
    background-image: url("../../public/photo/filter.jpg");
    background-size: 100% 100%;
    display: flex; 

  }
  .icon {
    justify-content: flex-end;
}
  .main{
      display: flex;
      flex-direction: row;
      gap: 70px;
  }
  .filter1 {

      background-image: url(../../public/photo/color.jpg);
      color: aliceblue;
      width: 300px;
      
    }
   
    h2{
        color: white;
        margin-bottom: 30px;
        margin-left: 20px;
        letter-spacing: 6px;
    }
    .olfil{

        list-style-type: inherit;
        margin-left: 30px;
        margin-top: 50px;
        line-height:150%
        
    }

  .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 100px;
      align-self: center; 
      gap: 70px;  
     


  }
  .card {
    width: 260px;
    height: 370px;
    background-color: rgba(247, 209, 154, 0.986);
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 0;   
    
   -webkit-clip-path: polygon(0 0, 0 100%, 100%, 100% 10%, 85% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%, 85% 0);
   
  }
 
.sec1 {
    width: 260px;
    height: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sec2 {
    /* display: flex;  */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 10px;
    margin-left: 70px;
    
}

/* h3{
    margin-left: 70px;

} */
.sec3 {
    margin-top: 10px;
    margin-left: 70px;
}

.imgpiz {
    width: 200px;
    height: 90%;
    /* margin-bottom: 20px; */
    
    
}
.hrst {
    border:  black;
    width: 60%;
    margin-left: 65px;
    display: block;
    
  }
  /* #mav{
    width: 250px;
    height: 62%;
    border:1px solid #000;
    position: absolute;
    top: 50px;
    right: 0;
    color: azure;
    background-color:#FBE7C7  ;

} */
 